# Car Price Prediction

We will be predicting car price based on various feature or independent variable such as:-
1)Name
2)Year
3)Km_Driven
4)Fuel
5)Seller_type
6)Transmission 
7)Owner

Here thee output of the model will be car's selling price.
Lets start thee project with importing dataset.

# Importing Libraries

importing library numpy and pandas and giving them name as np and pd resectively.

In [15]:
import numpy as np
import pandas as pd

Reading excel file with the help of pandas object read_csv and having a look on first 5 data by using head function.

In [16]:
dataset = pd.read_csv("car_data.csv")
dataset.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [17]:
dataset["owner"].isnull().sum()

0

Calculating the number of different types of owner of car. (There are four type specifically)

In [18]:
dataset["owner"].value_counts()

First Owner             2832
Second Owner            1106
Third Owner              304
Fourth & Above Owner      81
Test Drive Car            17
Name: owner, dtype: int64

Dividing into dependent and independent variable form by using iloc function of pandas.

In [20]:
X = dataset.iloc[:, [1,3,4,6]].values
y = dataset.iloc[:, 2].values

Using LabelEncoder to normalize lable and to encode the categorial variable.

In [21]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
X[:,2]=lb.fit_transform(X[:,2])
lb1 = LabelEncoder()
X[:,3]=lb1.fit_transform(X[:,3])

Display the number of rows and columns in excel sheet.

In [22]:
print(X.shape)

(4340, 4)

Splitting dataset into training set and test set to perform operations.

In [23]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

print(X_train[0,:])

[2015 175000 1 1]

Creating a model of randomforestregressor and fitting the training data.

In [24]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators=300,random_state=0)
regressor.fit(X_train,y_train)

RandomForestRegressor(n_estimators=300, random_state=0)

Calculating accuracy of our model.

In [25]:
accuracy = regressor.score(X_test,y_test)
print(accuracy*100,'%')

75.79783473129758 %

Encoding label of each column.

In [26]:
new_data=[2017,7000,"Petrol","Manual"]
new_data[2]=lb.transform([new_data[2]])[0]
new_data[3]=lb1.transform([new_data[3]])[0]

By using model predicting the output for testing value.

In [27]:
print(new_data)
regressor.predict([new_data])

[2017, 7000, 4, 1]

array([617422.22222222])

Creating pkl file that we are going to use in flask app.

In [28]:
import pickle
pickle.dump(regressor,open('regressor.pkl','wb'))
pickle.dump(lb,open('lb','wb'))
pickle.dump(lb1,open('lb1','wb'))