In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
import selenium
import pandas as pd 
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [3]:
driver = webdriver.Chrome(r"C:\Users\patel\Downloads\chromedriver_win32\chromedriver.exe")

In [9]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [7]:
driver.close()

In [10]:
driver.get('https://www.naukri.com/')

In [11]:
search_field_designation=driver.find_element_by_class_name("suggestor-input ") 
search_field_designation.send_keys("Data Analyst")
search_field_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_field_location.send_keys("Bangalore")

In [12]:
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [13]:
url="https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"

In [14]:
driver.get(url)

In [15]:
job_titles=[]
company_names=[]
locations_list=[]
experience_list=[]

In [16]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="e37c2757-3fe5-4c29-afb1-45401795cba5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="d7ae9872-798a-48b7-bdf4-db287730b07d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="f785b370-97a8-4ee0-85ac-6fde25f58e40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="34119837-b19a-46f4-8a36-27c2eac52862")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="5a7de25c-f4b8-4d30-acf1-ca3941a77b3a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="317652ba-d67d-4287-9118-07d98337cc36")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="76c008c2-a937-4021-a28e-6795406d0ff1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="e592a919-e269-4d7e-ad92-a094d3e7fc77")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="3995941e-de6e-43aa-aea9-f0cda63df702")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="75bfd0b0-cc55-44b0-a35e-db92a047918b")>]

In [17]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Senior Data Analyst II',
 'Senior Data Analyst II',
 'Data Analysts with Business Analysis',
 'Data Analyst / Data Engineer',
 'Senior Data Analyst',
 'Sr Domain Expert -Data Analysts',
 'Business Analyst/Data Analyst',
 'Senior Data Analyst - KPO',
 'Senior Data Analyst',
 'Consultant - Data Analyst']

In [18]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="25a7132d-7b77-41bc-9705-925a90ecfbc2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="f042c6ce-4a23-4533-8a1c-e8207c9f51c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="26f8f7f1-091c-4198-bdb8-8f39aa86db57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="d7a07fa5-8345-460d-a172-8a46e1d53838")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="fc1546aa-bb9f-437e-a76a-3d128e74b933")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="7b000637-fa1b-4b24-bb8b-3cee5429efbe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="63f4b2e3-7aa0-48af-85c9-4939f3805e07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="cffca4eb-7085-4d4b-95b7-90051ec685e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="4ba79309-d7e3-4aba-b910-0f2c9bbcf947")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="474f5ef8-5704-4704-a53e-c2f6f640e4b6")>]

In [19]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

['Flipkart',
 'Flipkart',
 'Avanze Technologies India Pvt. Ltd.',
 'TALENT MAX HR & MANAGEMENT CONSULTANTS',
 'Flipkart',
 'Siemens',
 'Telamon HR Solutions',
 'Huquo Consulting Pvt. Ltd',
 'Cerner',
 'Flipkart']

In [20]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="a1fbdcc5-2d48-455f-a82b-ae22bae5664b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="a5d6a06a-292e-452d-8a4c-3af457c3499a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="f9220045-ec6b-44ac-bb03-442e3f69a61f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="c18fd380-a1bd-4e6f-9e42-3c977be6b226")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="93f1a0e9-cee2-4e41-88e4-1b1a4d093613")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="de1ddb92-5ccd-4fc3-86fc-cb1e987af221")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="e103625b-308d-4836-814c-c2e92ebb8a08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="2691f7de-6cb6-401b-815a-76374e4e9569")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="e1d2deaa-d618-45bd-9a70-74a918d0c16f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="990dcd35-9640-499e-9c5b-088751aec0fe")>]

In [21]:
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:10]

['2-4 Yrs',
 '3-6 Yrs',
 '6-8 Yrs',
 '8-13 Yrs',
 '4-6 Yrs',
 '0-10 Yrs',
 '3-5 Yrs',
 '7-12 Yrs',
 '8-12 Yrs',
 '1-3 Yrs']

In [22]:
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
locations_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="0aa3d310-735b-4ad8-98a9-eeabc61dfd15")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="60504289-c21d-47b1-9255-048545220d6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="ef747207-1350-48d5-97e5-5370b34e6d83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="bd0a95d3-c520-4c1f-adeb-38661a11120b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="636ee796-156a-41d4-be3e-830bd2d2e9fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="99304791-3a43-4b32-a615-368ebfb15560")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="3cfa86bd-ba8a-49dc-b0a2-6a83b6eccc8d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="3a8bcd66-faad-4a85-9560-99464a7f5616")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="59fb7689-08c4-4cfc-9125-cea4b470830f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a99d74ddde0532116b6d439574b97dc", element="bee10851-468d-44ef-ba4a-3c364b25aa78")>]

In [23]:
for i in locations_tags:
    location=i.text
    locations_list.append(location)
locations_list[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Indore, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [32]:
print(len(job_titles),len(company_names),len(experience_list),len(locations_list))

20 20 20 20

In [34]:
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_names
jobs['experience_required']=experience_list
jobs['location']=locations_list

In [35]:
jobs

,title,company,experience_required,location
0,Senior Data Analyst II,Flipkart,2-4 Yrs,Bangalore/Bengaluru
1,Senior Data Analyst II,Flipkart,3-6 Yrs,Bangalore/Bengaluru
2,Data Analysts with Business Analysis,Avanze Technologies India Pvt. Ltd.,6-8 Yrs,Bangalore/Bengaluru
3,Data Analyst / Data Engineer,TALENT MAX HR & MANAGEMENT CONSULTANTS,8-13 Yrs,"Indore, Pune, Bangalore/Bengaluru"
4,Senior Data Analyst,Flipkart,4-6 Yrs,Bangalore/Bengaluru
5,Sr Domain Expert -Data Analysts,Siemens,0-10 Yrs,Bangalore/Bengaluru
6,Business Analyst/Data Analyst,Telamon HR Solutions,3-5 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D..."
7,Senior Data Analyst - KPO,Huquo Consulting Pvt. Ltd,7-12 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
8,Senior Data Analyst,Cerner,8-12 Yrs,Bangalore/Bengaluru
9,Consultant - Data Analyst,Flipkart,1-3 Yrs,Bangalore/Bengaluru
10,Data Analyst,Enrich talents,0-4 Yrs,Bangalore/Bengaluru
11,Blockchain AML Data Analyst,PayPal,3-7 Yrs,Bangalore/Bengaluru
12,Senior Data Analyst,Walmart,5-8 Yrs,Bangalore/Bengaluru
13,Senior Data Analyst,LatentView,2-6 Yrs,"Chennai, Bangalore/Bengaluru"
14,Data Analyst - Python/SQL,Affine,3-5 Yrs,Bangalore/Bengaluru
15,Data Analyst,AECOM,2-7 Yrs,Bangalore/Bengaluru
16,Data Analyst - IT,Yespired,3-8 Yrs,Bangalore/Bengaluru
17,"Business Analyst - Data Science & Analytics, Omni",MORE RETAIL PRIVATE LIMITED,1-5 Yrs,Bangalore/Bengaluru
18,Senior Data Analyst (Digital Services Analytics),Dell Technologies,1-6 Yrs,Bangalore/Bengaluru
19,Senior Data Analyst,FINNOVATION TECH SOLUTIONS PRIVATE LIMITED,3-6 Yrs,Bangalore/Bengaluru(Old Madras Road)